# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Output / build
dist/
build/
.output/
markup/components/output/

# Tailwind cache
.tailwindcss/

# Editor files
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*
